.hi {
  padding: 50px 0;

  background-color: #445162;
}

.hi__row {
  display: flex;
  justify-content: space-between;
}

.hi__body {

}

.hi__title {
  font-size: 60px;
}

.hi__list {
  margin: 30px 0 0 0;
}

.hi-list {

}

.hi-list__item {
  margin: 0 0 20px 0;
  padding: 0 0 0 35px;

  background: transparent url(../img/icons/icon.png) 0 50% no-repeat;

  font-size: 20px;
}

.hi-list__item:last-child {
  margin: 0;
}

.hi__image {

}

.hi__img {
  display: block;
}
